*{
    margin: 0;
    padding: 0;
}

a:hover{
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #663600;
    height: 15vh;
}

.input-box input{
    width: 60%;
    height: 100%;
    background-color: #ffe3c3;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #663600;
    padding: 20px 45px 20px 20px;
    font-weight: bold;
}

main{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffb968;
    background-size: cover;
    height: 92vh;
}

.list{
    list-style: none;
    display: flex;
}

.list li{
    letter-spacing: 3px;
    margin-left: 32px;
}
.list li a{
    color: #ffb968;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    
}
img{
    width: 400px;
    height: 400px;
    max-width: 100%;
    position: absolute;
    top: 200px;
    left: 900px;
}

p{
    font-size: 30px;
    width: 600px; /* Defina a largura desejada */
    color: #000000; /* Cor do texto dentro do quadrado */
    text-align: justify; /* Alinhe o texto ao centro do quadrado *
    line-height: 100px; /* Centralize verticalmente o texto no quadrado */
}
p{
    position: absolute;
    top: 200px;
    left: 150px;
}
p img{
    display: flex;
}
.perfil{
    position: relative;
    top: 100px;
    
}
.perfil h1{
    position: relative;
    left: 120px;
}
button{
    margin: 20px;
    width: 20%;
    height: 45px;
    background: #663600;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #ffe3c3;
    font-weight: 600;
}
button a{
    color: #ffb968;
    text-decoration: none;
}
.sair{
    position: relative;
    left: 150px;
}
.perfil-f{
    position: relative;
    left: 100px;
    top: 100px;
}
.quadrado{
    margin: 100px;
    float: left;
    width: 400px;
    height: 450px;
    background-color: #663600;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(40px);
    color: #663600;
    border-radius: 10px;
    padding: 30px 40px;
}
.quadrado h1{
    color: #ffb968;
    position: relative;
    left: 120px;
}
.quadrado p{
    width: 400px;
    color: #ffb968;
    position: absolute;
    left: 40px;
    top: 100px;
}
.quadrado .input-box{
    position: relative;
    top: 190px;
    text-align: center;
}

.mp{
    position: relative;
    top: 220px;
    color: #ffb968;
    text-align: center;
    font-size: x-large;
    text-align: justify;
    left: 100px;
}
.input-b .input-box{
    margin: 10px;
    position: relative;
    top: 110px;
}
.input-b .mp{
    position: relative;
    top: 120px;
}
.quadrado .con2{
    position: relative;
    top: 130px;
    align-items: center;
    left: 130px;
    background-color: #ffb968;
}
.con1 a{
    color: #663600;
    font-family: Arial, Helvetica, sans-serif;
}
.con2 a{
    color: #663600;
    font-family: Arial, Helvetica, sans-serif;
}

 .quadrado .con1{
    position: relative;
    top: 220px;
    left: 130px;
    background-color: #ffb968;
 }   
footer{
    background-color: #663600;
    
}
footer .final img{
    width: 100px;
    height: 100px;
    position: relative;
    top: 60px;
    margin: 1px;
}
.final h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    position: relative;
    top: 1px;
    left: 150px;
    color: #ffb968;
}
.final .base h1{
    display: block;
    margin: 0 auto;
    position: relative;
}