*{
    margin: 0;
    padding: 0;
}

a:hover{
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #663600;
    height: 15vh;
}

.input-box input{
    width: 60%;
    height: 100%;
    background-color: #ffe3c3;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #663600;
    padding: 20px 45px 20px 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    background-color: #ffb968;
    background-size: cover;
    height: 92vh;
    font-family: Arial, Helvetica, sans-serif;
}

.list{
    list-style: none;
    display: flex;
}

.list li{
    letter-spacing: 3px;
    margin-left: 32px;
}
.list li a{
    color: #ffb968;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    
}
.quadrado{
    margin: 50px;
    float: left;
    width: 200px;
    height: 300px;
    background-color: #663600;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(40px);
    color: #663600;
    border-radius: 10px;
    padding: 30px 40px;
}
.quadrado img{
    width: 60%;
    background-color: #ffb968;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}
.quadrado h1{
    color: #ffb968;
    text-align: center;
    font-size: larger;
    margin: 10px;
}
.quadrado button{
    margin: 8px;
    position: relative;
    top: 40px;
    width: 40%;
    height: 45px;
    background: #ffb968;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #663600;
    font-weight: 600;
}
.quadrado a{
    text-decoration: none;
    color: #663600;
}
.apre img{
    position: relative;
    top: 50px;
    display: block;
    margin: 0 auto;
    width: 15%;
    background-color: #663600;
    border-radius: 40px;
}

.apre h1{
    position: relative;
    top: 110px;
    left: 260px;
}
.apre p{
    width: 30%;
    position: relative;
    top: 130px;
    left: 150px;
    text-align: left;
    margin: 5px;
    font-weight: bold;
    font-size: large;
}
.preco{
 position: relative;
 left: 900px;
 top: -100px;
 font-size: 500%;
 color: #663600;
}
.comprar{
    position: relative;
    left: 840px;
    top: -100px;
    margin: 8px;
    position: relative;
    width: 30%;
    height: 100px;
    background: #663600;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #663600;
    font-weight: 600;
}
.comprar a{
    font-size: 350%;
    text-decoration: none;
    color: #ffb968;
}
footer{
    background-color: #663600;
    
}
footer .final img{
    width: 100px;
    height: 100px;
    position: relative;
    top: 60px;
    margin: 1px;
}
.final h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    position: relative;
    top: 1px;
    left: 150px;
    color: #ffb968;
}
.final .base h1{
    display: block;
    margin: 0 auto;
    position: relative;
}